{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/E-xyza/zigler">>},
  {<<"Zig">>,<<"https://ziglang.org/">>}]}.
{<<"name">>,<<"zigler">>}.
{<<"version">>,<<"0.15.2">>}.
{<<"description">>,<<"Zig nif library">>}.
{<<"elixir">>,<<"~> 1.15">>}.
{<<"app">>,<<"zigler">>}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"files">>,
 [<<"lib">>,<<"lib/zig.ex">>,<<"lib/zigler.ex">>,<<"lib/zig">>,
  <<"lib/zig/build_module.ex">>,<<"lib/zig/quote_erl.ex">>,
  <<"lib/zig/_module.ex">>,<<"lib/zig/nif">>,<<"lib/zig/nif/synchronous.ex">>,
  <<"lib/zig/nif/threaded.ex">>,<<"lib/zig/nif/_basic.ex">>,
  <<"lib/zig/nif/dirty_cpu.ex">>,<<"lib/zig/nif/_concurrency.ex">>,
  <<"lib/zig/nif/dirty_io.ex">>,<<"lib/zig/_c.ex">>,<<"lib/zig/target.ex">>,
  <<"lib/zig/attributes.ex">>,<<"lib/zig/templates">>,
  <<"lib/zig/templates/threaded.zig.eex">>,
  <<"lib/zig/templates/raw_beam_term.zig.eex">>,
  <<"lib/zig/templates/build_mod.zig.eex">>,
  <<"lib/zig/templates/basic.zig.eex">>,
  <<"lib/zig/templates/build_extra_mod.zig.eex">>,
  <<"lib/zig/templates/on_upgrade.zig.eex">>,
  <<"lib/zig/templates/build.zig.zon.eex">>,
  <<"lib/zig/templates/module.zig.eex">>,
  <<"lib/zig/templates/on_load.zig.eex">>,
  <<"lib/zig/templates/build_c.zig.eex">>,
  <<"lib/zig/templates/resources.zig.eex">>,
  <<"lib/zig/templates/raw_erl_nif_term.zig.eex">>,
  <<"lib/zig/templates/on_unload.zig.eex">>,
  <<"lib/zig/templates/easy_c.zig.eex">>,<<"lib/zig/type.ex">>,
  <<"lib/zig/_parameter.ex">>,<<"lib/zig/macro.ex">>,
  <<"lib/zig/resources.ex">>,<<"lib/zig/easy_c.ex">>,<<"lib/zig/_return.ex">>,
  <<"lib/zig/command.ex">>,<<"lib/zig/options.ex">>,
  <<"lib/zig/compile_error.ex">>,<<"lib/zig/.Elixir.Zig.Formatter.zig">>,
  <<"lib/zig/deps_module.ex">>,<<"lib/zig/builder.ex">>,
  <<"lib/zig/error_prong.ex">>,<<"lib/zig/manifest.ex">>,
  <<"lib/zig/formatter.ex">>,<<"lib/zig/_nif.ex">>,<<"lib/zig/type">>,
  <<"lib/zig/type/slice.ex">>,<<"lib/zig/type/float.ex">>,
  <<"lib/zig/type/cpointer.ex">>,<<"lib/zig/type/pointer.ex">>,
  <<"lib/zig/type/_function.ex">>,<<"lib/zig/type/integer.ex">>,
  <<"lib/zig/type/resource.ex">>,<<"lib/zig/type/struct.ex">>,
  <<"lib/zig/type/optional.ex">>,<<"lib/zig/type/array.ex">>,
  <<"lib/zig/type/error.ex">>,<<"lib/zig/type/bool.ex">>,
  <<"lib/zig/type/enum.ex">>,<<"lib/zig/type/_parse_error.ex">>,
  <<"lib/zig/type/manypointer.ex">>,<<"lib/zig/sema.ex">>,
  <<"lib/zig/compiler.ex">>,<<"lib/zig/analyzer.ex">>,<<"lib/mix.tasks">>,
  <<"lib/mix.tasks/zig.precompile.ex">>,<<"lib/mix.tasks/zig.version.ex">>,
  <<"mix.exs">>,<<"README.md">>,<<"LICENSE">>,<<"VERSIONS.md">>,
  <<"priv/beam">>,<<"priv/beam/cleanup.zig">>,<<"priv/beam/sema.zig">>,
  <<"priv/beam/processes.zig">>,<<"priv/beam/get.zig">>,
  <<"priv/beam/resource.zig">>,<<"priv/beam/yield.zig">>,
  <<"priv/beam/beam.zig">>,<<"priv/beam/sema_doc.zig">>,
  <<"priv/beam/stacktrace.zig">>,<<"priv/beam/stub_erl_nif.zig">>,
  <<"priv/beam/sema_stubs.zig">>,<<"priv/beam/allocator.zig">>,
  <<"priv/beam/loader.zig">>,<<"priv/beam/binaries.zig">>,
  <<"priv/beam/threads.zig">>,<<"priv/beam/options.zig">>,
  <<"priv/beam/payload.zig">>,<<"priv/beam/erl_nif.zig">>,
  <<"priv/beam/mutex.zig">>,<<"priv/beam/make.zig">>]}.
{<<"requirements">>,
 [[{<<"name">>,<<"zig_parser">>},
   {<<"app">>,<<"zig_parser">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 0.6">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"protoss">>},
   {<<"app">>,<<"protoss">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 1.0">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"zig_get">>},
   {<<"app">>,<<"zig_get">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"== 0.15.2">>},
   {<<"repository">>,<<"hexpm">>}]]}.
{<<"build_tools">>,[<<"mix">>]}.
